<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Affordable and secure computers for you">
    <meta name="keywords" content="computers, affordable laptops, professional devices">
    <meta name="author" content="Pethuel Joel">
    <title>Vertex Computers | Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="img/favicon.png">
  </head>
  <body>

    <header>

      <div class="container">

        <div id="branding">

          <h1><span class="highlight">Vertex</span> Computers</h1>

        </div>

        <nav>

          <ul>

            <li class="current"><a href="index.html">Home</a></li>

            <li><a href="about.html">About</a></li>

            <li><a href="services.html">Services</a></li>

          </ul>

        </nav>

      </div>

    </header>
 <section id="showcase">
      <div class="container">
        <h1>Affordable Computers for Every Need</h1>
        <p>Your go-to source for reliable and affordable computers designed with you in mind.</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email..." required>
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>
 <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="./img/logo_html.png">
          <h3>Top Quality Hardware</h3>
          <p>Explore our range of devices equipped with the latest hardware technology.</p>
        </div>
        <div class="box">
          <img src="./img/logo_css.png">
          <h3>Customizable Options</h3>
          <p>Choose from a variety of specifications to suit your computing needs.</p>
        </div>
        <div class="box">

